@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CU:wght@100..400&family=Rubik+Doodle+Shadow&family=Vast+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgb(220, 215, 209);
}

a{
    text-decoration: none;
}

.slidein{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

